/* CustomSlider.css */

.custom-slider {
  position: relative;
  width: 617px;
  height: 50px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .custom-slider {
    width: 100%;
  }
}

.slider-track {
  position: absolute;
  top: 50%;
  height: 5px;
  background-color: #3f0077; /* Highlight color */
  width: 100%;
  transform: translateY(-50%);
  z-index: 2;
}

.slider-background {
  position: absolute;
  width: 100%; /* Width after the thumb */
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff; /* White background after the thumb */
  z-index: 0;
}

.slider-thumb {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 74px;
  height: 74px;
  background-color: #3f0077; /* Thumb color */
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  user-select: none;
  z-index: 100;
}

.slider-circle {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #3f0077;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
}

.slider-circle.start {
  left: 0;
}

.slider-circle.end {
  right: 0;
  background-color: white;
}

.scale {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 27px;
  width: 612px;
  padding: 2px;
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
}

.scale-line {
  width: 4px;
  height: 27px; /* Adjusted height of scale lines */
  background-color: #ccc;
  border-radius: 2px;
}

.scale-line.highlighted {
  background-color: #3f0077; /* Highlighted color */
}
